<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cashnice(RC0).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cashnice(Rc0).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Cashnice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Cashnice山东.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Cashnice湖北版(RC0).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Cashnice湖北版.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YQS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>000E908D1D2A0C2600F5A7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000E933F1D2A116000F5A7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0017333B1C7DBA3A0017E897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001D24921D193B76007D5881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001D27111D1A3EA7007D5881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008B604520B64ADB0019B3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008B605D20B64ADB0019B3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008B608620B64B9D0019B3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009E8EA01D363C04009BB4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B83B15B1AA93C4000CA078E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B83B1741AA93C4100CA078E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
